<form role="form">
<div class="row">
  <div class="col-xs-2">
    Color: {{ input value=c}}
  </div>
  <div class="col-xs-2">
    Width: {{ input value=w}}
  </div>
  <div class="col-xs-2">
    Height: {{ input value=h}}
  </div>

</div>
</form>