<h1> Ember JS Miscellany</h1>
<p>This project is a collection of miscellaneous examples and snippets of ember js.</p>

<p>The project is based on <a href="https://github.com/stefanpenner/ember-app-kit">ember app kit</a> project template.</p>

<p>There is no unifying theme. Just a loose collection of examples, mostly components other ember odds and ends created as experiments. This is a test bed for trying out various aspects of ember.
</p>

<ul class="nav nav-pills">
  <li>{{#link-to 'index'}}Home{{/link-to}}
</ul>

<hr />

{{outlet}}
