<h2>{{#link-to 'index'}}Ember JS Miscellany{{/link-to}}</h2>
<p>This project is a collection of miscellaneous examples and snippets of ember js. Template based on <a href="https://github.com/stefanpenner/ember-app-kit">ember app kit</a> project template.</p></p>

<p>At the moment there is no unifying theme. Just a loose collection of examples, mostly components other ember odds and ends created as experiments. This is a test bed for trying out various aspects of ember. Updates will be posted to the <a href='https://github.com/eccegordo/ember-miscellany'>github repo</a> as they become available.
 
</p>

<hr />

{{outlet}}
