<h3>Miscellaneous Components</h3>
<ul class="nav nav-pills">
  <li>{{#link-to 'show-the-box'}}the-box{{/link-to}}<li>
  <li>{{#link-to 'component-test'}}component-test{{/link-to}}<li>
  <li>{{#link-to 'helper-test'}}helper-test{{/link-to}}<li>
</ul>